<component name="ArtifactManager">
  <artifact type="war" name="Spring4MVCHelloWorldDemo:war">
    <output-path>$PROJECT_DIR$/Spring4MVCHelloWorldDemo/target</output-path>
    <root id="archive" name="Spring4MVCHelloWorldDemo.war">
      <element id="artifact" artifact-name="Spring4MVCHelloWorldDemo:war exploded" />
    </root>
  </artifact>
</component>